body {
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    width: 900px;
    background-color: #C3E337;
    color: #ffff;
}

.button {
    border: 1px solid #ffff;
    background-color: #fff;
    margin-bottom: 10px;
    margin: 5px;
    margin-top: 15px;
}


.clear {
    margin-left: 370px;
    margin-right: auto;
}